.wrapper-logout{
  height: 80px;
  border-radius: 0px!important;
  box-shadow: 0px 0px 0px!important;
}
.wrapper-logout .avarta{
  width: 150px!important;
  text-align: center;
  background-color: #E3E3E3!important
}
.wrapper-logout .avarta >div{
  margin-left: 18px;
}
.wrapper-logout .avarta >div>img{
  height: 80px;
  width: 80px;
}
.wrapper-logout .container-user-info{
  height: 100%;
  background-color: #E3E3E3!important
}
.container-user-info .user-profile{
  font-size: 10px;
  padding-top: 5px;
  color: #999
}
.container-user-info .user.circle.outline{
  margin-top: -15px!important;
  padding-left: 5px;
  font-size: 1.5em!important;
}
